<div class="topnav">
    <div class="topnav">
        <a class = "home"  href="imagepost">Home</a>
        <a class = "form-button" href="registration">Register</a>
        <a class = "form-button" href="login">Login</a>
        <a class = "form-button" href="postimage">Upload</a>
    </div>
</div>

