<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text/css" href="public/css/form.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script rel = "script" type ="text/javascript" src ="public/js/AS4.js" defer></script>
</head>
<body>
<header class = "header">
    {{> header}}
</header>
<div class = "container">
    {{{body}}}
</div>
</body>

</html>