<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Galleria</title>
    <link rel = "stylesheet" type = "text/css" href="public/css/home.css">
    <script type ="text/javascript" src ="public/js/home.js" defer></script>
</head>

<body>
<div id = "imagesLeft">
    <button type = "button" onclick = "createPhotoCard()">Click Here!</button>
</div>
<div id = "imageDisplay" class = "container"></div>
</body>
</html>