<div class = "container">
    <div class = "imagePost">
        <label> Author</label>
        <br />
        <a><img src="https://cdn.discordapp.com/attachments/755302715315322972/787585582754431006/IMG_0837.jpg"></a>
        <br />
        <label>Image Title</label>
        <br />
        <label>Date Posted: </label>
    </div>
</div>