<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Postings</title>
    <link rel = "stylesheet" type = "text/css" href="public/css/form.css">
    <script type ="text/javascript" src ="public/js/AS4.js"></script>
</head>
<body>
<fieldset>
    <label> Author</label>
    <br />
    <img src="https://image.shutterstock.com/image-photo/world-minecraft-600w-1063136237.jpg">
    <br />
    <label>Image Title</label>
    <br />
    <label>Date Posted: </label>
</fieldset>
</body>
</html>