<form method = "POST" action ="/users/login" enctype="application/x-www-form-urlencoded">
        <label for = "username"><b>Username</b></label>
        <input id = username name = "username" type = "text" placeholder="Enter Username">
        <label for = "psswrd"><b>Password</b></label>
        <input id = psswrd name = "password" type = "password" placeholder="Enter Password">
        <button id = "form-button">Login</button>

        <span class = "psswrd">Not <a href = "registration">registered?</a></span>

</form>