<form method = "post">
        <label for = "username"><b>Username</b></label>
        <input id = username name = "username" type = "text" placeholder="Enter Username">

        <label for = "psswrd"><b>Password</b></label>
        <input id = psswrd name = "psswrd" type = "password" placeholder="Enter Password">

        <button type="submit">Login</button>

        <span class = "psswrd">Not <a href = "registration.html">registered?</a></span>

</form>