<header class = upload><h2>Upload your photo!</h2></header>

<legend>Choose an image to upload</legend>
<label> <input type = file></label>
<br />
<label> Title your creation <input type = text /></label>
<br />
<label> Describe your creation <input type = text /></label>
<br />
<label><input type = checkbox /> I accept the <a href = "www.fakelink.com">Acceptable Use Policy</a></label>
<button type = submit>Upload</button>