<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Image</title>
    <link rel = "stylesheet" type = "text/css" href="../css/form.css">
    <script type ="text/javascript" src ="../js/AS4.js"></script>
</head>
<body>
    <header><h2>Upload your photo!</h2></header>
    <fieldset>
        <legend>Choose an image to upload</legend>
    <label> <input type = file></label>
    <br />
    <label> Title your creation <input type = text /></label>
    <br />
    <label> Describe your creation <input type = text /></label>
    <br />
    <label><input type = checkbox /> I accept the <a href = "www.fakelink.com">Acceptable Use Policy</a></label>
        <button type = submit>Upload</button>
    </fieldset>
</body>
</html>