
<form method = "POST" action="/users/register" enctype="application/x-www-form-urlencoded" >
    <label for = "username"><b>Username</b></label>
    <input type = "text" id = "username" name = "username" required>

    <label for = "email"><b>Email</b></label>
    <input type = "email" id = "email" name = "email" required>

    <label for = "password"><b>Password</b></label>
    <input type = "password" id = "password" name = "password"required>

    <label for = "passConfirm"><b>Re-enter password</b></label>
    <input type = "password" id = "passConfirm" name = "passConfirm"required>
    <div class = "checkboxes">
        <label for = "ageReq"><input type = "checkbox" id = "ageReq" name = "ageReq" required>I am 13+ years old</label>

        <label for = "tos"><input type = "checkbox" id = "tos" name = "tos" required>I have read and the tos</label>
    </div>
    <button id = "form-button">Register</button>
</form>
<div id = "pswdMessage">
    <h3>Password must contain the following</h3>
    <p id="pswdLetter" class="invalid">A <b>lowercase</b> letter</p>
    <p id="pswdCapital" class="invalid">A <b>capital (uppercase)</b> letter</p>
    <p id="pswdNumber" class="invalid">A <b>number</b></p>
    <p id="pswdLength" class="invalid">Minimum <b>8 characters</b></p>
    <p id="pswdSpecial" class="invalid">One special char  <b>( / * - + ! @
        # $ ^ & * ). </b></p>
</div>
<div id = "userMessage">
    <h3>Username must contain the following</h3>
    <p id="userletter" class="invalid">A <b>lowercase</b> letter</p>
    <p id="usernumber" class="invalid">A <b>number</b></p>
    <p id="userlength" class="invalid">Minimum <b>3 characters</b></p>
</div>
