body{
    margin:auto;
    width: 50%;
    padding-top: 100px;
    background-color: grey;
}
input {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
button {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    background-color:black;
    color: yellow;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
button:hover {
    background-color: yellow;
    color: black;
}
.header {
    background-color: grey;
    text-align: center;
    font-size: xxx-large;
    font-family: "Lucida Sans Typewriter";
    color: white;
    padding: 20px;
}
.banner-item a{
    color: yellow;
}
.topnav {
    background-color: black;
    border-bottom: solid yellow;
    border-left: hidden;
    border-right: hidden;
    border-top: solid yellow;
    border-radius: 15px;
    overflow: hidden;
}
.topnav .home{
    float: left;
    display: block;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav .form-button{
    float: right;
    display: block;
    color: yellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: yellow;
    color: black;
}
.topnav a.active {
    background-color: black;
    color: lightgoldenrodyellow;
}
.container {
    font-family: "Lucida Sans Typewriter";
    display: block;
    background-color: grey;
    color: white;
    padding: 20px;
}
.checkboxes {
    background-color: grey;
    padding: 8px;
    margin: 8px;
    width: 50%;
    text-align: left;
    border: solid lightyellow;
}
#pswdMessage {
    display:none;
    background: whitesmoke;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 6px 8px 20px lightgrey;
}

#pswdMessage p {
    padding: 10px 35px;
    font-size: 18px;
}
#userMessage {
    display:none;
    background: whitesmoke;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 6px 8px 20px lightgrey;
}

#userMessage p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}
/*
 *
 *
 *
 */
/*NAVIGATION AND BANNER*/
.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}
.upload {
    background-color: grey;
    text-align: center;
    font-size: large;
    font-family: "Lucida Sans Typewriter";
    padding: 20px;
}
.imagePost{
    color: white;
    border: solid black;
    padding: 1px;
}
.imagePost img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: left;
}
