input {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
#form-button {
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    background-color:black;
    color: yellow;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
.checkboxes {
    background-color: grey;
    padding: 8px;
    margin: 8px;
    width: 50%;
    text-align: left;
    border: solid lightyellow;
}
#pswdMessage {
    display:none;
    background: whitesmoke;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 6px 8px 20px lightgrey;
}

#pswdMessage p {
    padding: 10px 35px;
    font-size: 18px;
}
#userMessage {
    display:none;
    background: whitesmoke;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 6px 8px 20px lightgrey;
}

#userMessage p {
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}
/*
 *
 *
 *
 */
/*NAVIGATION AND BANNER*/
.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

