div.gallery{
    margin: 5px;
    border: 1px solid black;
    float: left;
    width: fit-content;
}
div.gallery:hover{
    border: 1px solid grey;
}
div.gallery img{
    width: 100%;
    height:auto;
}
div.description{
    padding: 16px;
    text-align: center;
}